
%form{:action => "#{@path}", :method => 'post'}
  %label Move to:
  %select{:name => 'item_queue'}
    -@item_queues.each do |state|
      -if(@item.state == state) 
        %option{:value => "#{state}", :selected => 'selected'}
          =state.capitalize
      -else
        %option{:value => "#{state}"}
          =state.capitalize
  %label Due in:
  %select{:name => 'due_in'}
    -(1..7).each do |day|
      %option{:value => "#{day}"}
        -if(day == 1)
          #{day} day
        -else
          #{day} days
  %input{:type => 'submit', :value => 'Move'}
    
    
%h2= @item.from
%span= @item.sent
%p= @item.subject
%p= @item.body

